<!DOCTYPE html>
<html>
  <head>
    <title>Page Title</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <!-- <link rel="stylesheet" href="css/custom.css" /> -->
  </head>
  <body>
    <!-- Page content goes here -->
    <div class="container">
      <div>
        <div class="row">
          <div class="col-md-4 offset-md-4">
            <form>
              <div class="form-group">
                <label for="amount">Enter amount to load:</label>
                <input
                  type="number"
                  class="form-control"
                  id="amount"
                  placeholder="Enter the amount"
                />
              </div>
              <button type="submit" class="btn btn-primary invisible d-none" id="load-btn">
                Load
              </button>
              <div id="paypal-button-container"></div>
            </form>
            <a href="/view">
              <button class="btn btn-secondary">Profile</button>
            </a>
          </div>
        </div>
      </div>

      <div class="status">
        <!-- <span
          ><h2>STATUS</h2>
          <ul>
            <li>PENDING</li>
            <li>COMPLETED</li>
          </ul>
        </span> -->
      </div>
    </div>

    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
    <!-- Replace "test" with your own sandbox Business account app client ID -->
    <script src="https://www.paypal.com/sdk/js?client-id=AV1BxZCuAS1zRzUzPxxqcWqfS3pzrSfMqlyhzq9Hs4mWoHRa50_LeMs-D6VoCSVfOnpSyCmJagPYGDpl&currency=USD"></script>
    <!-- Set up a container element for the button -->

    <style>
      .container {
        padding-top: 200px;
      }
      .walletbalance {
        width: 900px;
        padding-left: 500px;
      }
      .status {
        display: block;
        padding-left: 600px;
      }
      form {
        max-width: 500px;
        margin: 0 auto;
        padding: 30px;
      }

      label {
        display: block;
        margin-bottom: 10px;
      }

      input {
        width: 100%;
        padding: 12px 20px;
        margin-bottom: 20px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 4px;
      }

      button {
        width: 100%;
        background-color: #4caf50;
        color: white;
        padding: 14px 20px;
        margin-bottom: 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }

      button:hover {
        background-color: #45a049;
      }
    </style>

    <script>
      const inputBtn = document.querySelector("#amount");
      const amountBtn = document.querySelector("#load-btn");

      amountBtn.addEventListener("click", (e) => {
        console.log(inputBtn.value);
        e.preventDefault();
      });

      paypal
        .Buttons({
          // Order is created on the server and the order id is returned
          createOrder: (data, actions) => {
            return actions.order.create({
              purchase_units: [{ amount: { value: inputBtn.value } }],
            });
          },
          // Finalize the transaction on the server after payer approval
          onApprove: (data, actions) => {
            return actions.order.capture().then((details) => {
              console.log(details.purchase_units[0].amount.value);
              const data = { amount: details.purchase_units[0].amount.value };
              fetch("/api/load", {
                method: "POST",
                body: JSON.stringify(data),
                mode: "cors", // no-cors, *cors, same-origin
                cache: "no-cache", // *default, no-cache, reload, force-cache, only-if-cached
                credentials: "same-origin", // include, *same-origin, omit
                headers: {
                  "Content-Type": "application/json",
                },
              }).then();
            });
          },
        })
        .render("#paypal-button-container");
    </script>
  </body>
</html>
