<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Page Title</title>

    <!-- navbar-->

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Brand</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- page 1-->
    <section class="pageone">
      <section class="pageone">
        <div class="heading">
          <h1 class="heading">lorem ipsum generator</h1>

          <span class="paraone"
            >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error
            tenetur accusamus vitae nesciunt veniam architecto, eum dicta labore
            laboriosam amet ab corrupti optio, incidunt, minus temporibus
            perspiciatis cupiditate consequatur hic?.</span
          >

          <a href="/login">
            <button type="button" class="btn btn-primary btndownload">
              Login to the web app
            </button>
          </a>
          <a href="/register">
            <button type="button" class="btn btn-primary btndownload">
              Register to the web app
            </button>
          </a>
        </div>
      </section>
    </section>

    <section class="phone ui"></section>

    <section class="advantage">
      <span>
        <div>
          <h1 class="benefits">BENEFITS</h1>
          <span><h2 class="firstb">LOREM IPSUM</h2></span>
          <span
            >orem ipsum dolor sit amet, consectetur adipiscing elit. Proin
            ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas
            non massa sem</span
          >
          <span><h2 class="secondb">IPSUM</h2></span>
          <span
            >orem ipsum dolor sit amet, consectetur adipiscing elit. Proin
            ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas
            non massa sem</span
          >
          <span><h1 class="thirdb">LOREM</h1></span>
          <p>lorem ipsum genertor lorem ipsum lorem ipsim</p>
        </div>
      </span>
    </section>

    <!--footer-->

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h3>About Us</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
              ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas
              non massa sem. Etiam finibus odio quis feugiat facilisis.
            </p>
          </div>
          <div class="col-md-4">
            <h3>Contact Us</h3>
            <ul>
              <li>Phone: 555-555-5555</li>
              <li>Email: info@example.com</li>
              <li>Address: 123 Main Street, Anytown USA</li>
            </ul>
          </div>
          <div class="col-md-4">
            <h3>Stay Connected</h3>
            <ul class="social-icons">
              <li>
                <a href="#"><i class="fa fa-facebook"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-instagram"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-linkedin"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />

    <!-- Custom CSS (optional) -->
    <style>
      /* Add your custom styles here */

      .h1 {
        color: white;
      }
      .span {
        color: white;
      }
      .heading {
        padding-top: 50px;
        padding-left: 10px;
        padding-bottom: 20px;
      }
      .paraone {
        line-height: 25px;
        padding-left: 10px;
        padding-top: 10px;
        color: black;
        font-style: normal;
        display: block;
        width: 600px;
      }
      .pageone {
        padding-bottom: 100px;
        background-color: rgb(240, 149, 12);
      }
      .btndownload {
        margin-top: 10px;
      }
      .benefits {
        padding-bottom: 50px;
        padding-top: 50px;
        text-align: center;
      }

      .firstb {
        padding-bottom: 20px;
      }
      .secondb {
        padding-bottom: 20px;
      }
      .thirdb {
        padding-bottom: 20px;
      }
      .advantage {
        display: block;
        text-align: center;
        padding-bottom: 100px;
        background-color: rgb(240, 210, 11);
      }
      footer {
        background-color: #333;
        color: #fff;
        padding: 30px 0;
      }

      footer h3 {
        margin-bottom: 20px;
        color: #fff;
      }

      footer p,
      footer ul {
        color: #ccc;
      }

      footer a {
        color: #fff;
      }

      footer a:hover {
        color: #ccc;
      }

      footer .social-icons {
        list-style: none;
        padding: 0;
        margin: 0;
      }

      footer .social-icons li {
        display: inline-block;
        margin-right: 10px;
      }

      footer .social-icons li a {
        font-size: 20px;
        color: #fff;
        display: block;
        padding: 10px;
        border-radius: 50%;
        background-color: #333;
        transition: all 0.3s;
      }

      footer .social-icons li a:hover {
        background-color: #222;
      }
    </style>
  </head>
  <body>
    <!-- Add your content here -->

    <!-- Bootstrap JavaScript -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>

    <!-- Custom JavaScript (optional) -->
    <script>
      // Add your custom JavaScript code here

      function navigateToPage() {
        // Replace 'page-2.html' with the URL of the page you want to navigate to
        window.location.href = "register.html";
      }

      // Get the button element
      let button = document.querySelector("btndownload");

      // Add an event listener to the button that calls the navigateToPage function
      // when the button is clicked
      button.addEventListener("click", navigateToPage);
    </script>
  </body>
</html>
