<!DOCTYPE html>
<html>
  <head>
    <title>Page Title</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <!-- <link rel="stylesheet" href="css/custom.css" /> -->
  </head>
  <body>
    <!-- Page content goes here -->
    <div class="container">
      <div>
        <div class="row">
          <div class="col-md-4 offset-md-4">
            <form>
              <div class="form-group">
                <label for="amount">Enter amount to load:</label>
                <input
                  type="number"
                  class="form-control"
                  id="amount"
                  placeholder="Enter the amount"
                />
                <label for="UPI">Enter your UPI id:</label>
                <input
                  type="text"
                  class="form-control"
                  id="UPIAddress"
                  placeholder="Enter the amount"
                />
                <label for="number">Enter your number:</label>
                <input
                  type="number"
                  class="form-control"
                  id="contact"
                  placeholder="Enter the amount"
                />
              </div>
              <button type="submit" class="btn btn-primary" id="load-btn">
                Payout
              </button>
              <div id="paypal-button-container"></div>
            </form>
            <a href="/view">
              <button class="btn btn-secondary">Profile</button>
            </a>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
    <style>
      .container {
        padding-top: 200px;
      }
      .walletbalance {
        width: 900px;
        padding-left: 500px;
      }
      .status {
        display: block;
        padding-left: 600px;
      }
      form {
        max-width: 500px;
        margin: 0 auto;
        padding: 30px;
      }

      label {
        display: block;
        margin-bottom: 10px;
      }

      input {
        width: 100%;
        padding: 12px 20px;
        margin-bottom: 20px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 4px;
      }

      button {
        width: 100%;
        background-color: #4caf50;
        color: white;
        padding: 14px 20px;
        margin-bottom: 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }

      button:hover {
        background-color: #45a049;
      }
    </style>

    <script>
      // var base64 = require("base-64");

      const inputBtn = document.querySelector("#amount");
      const UPIAddress = document.querySelector("#UPIAddress");
      const contact = document.querySelector("#contact");

      const amountBtn = document.querySelector("#load-btn");

      amountBtn.addEventListener("click", (e) => {
        e.preventDefault();

        const login = "rzp_test_n97PNyqfl3KmEH";
        const password = "fhsT9qFyBBC98SD5lNpIzQLd";

        async function fetchUser() {
          const response = await fetch("/api/profile", {
            method: "GET",
            mode: "cors", // no-cors, *cors, same-origin
            cache: "no-cache", // *default, no-cache, reload, force-cache, only-if-cached
            credentials: "same-origin", // include, *same-origin, omit
            headers: {
              "Content-Type": "application/json",
            },
          });
          const data = await response.json();
          return data;
        }

        const data = {
          account_number: "2323230091936182",
          amount: inputBtn.value * 100,
          currency: "INR",
          mode: "UPI",
          purpose: "refund",
          fund_account: {
            account_type: "vpa",
            vpa: {
              address: `${UPIAddress.value}`,
            },
            contact: {
              name: "Raunak Gurud",
              email: "raunak2002@gmail.com",
              contact: `${contact.value}`,
              type: "self",
              reference_id: "Acme Contact ID 12345",
            },
          },
          queue_if_low_balance: true,
          reference_id: "Acme Transaction ID 12345",
          narration: "Acme Corp Fund Transfer",
        };

        async function value() {
          const user = await fetchUser();

          if (inputBtn.value > user.balance) {
            return alert("insufficient balance");
          }

          
          // const response = await
          // const result = await response.json();
          // console.log(result);
          // return result;
        }
        
        const token = btoa(`${login}:${password}`);
        fetch("https://api.razorpay.com/v1/payouts", {
          method: "POST",
          body: JSON.stringify(data),
          mode: "no-cors", // no-cors, *cors, same-origin
          cache: "no-cache",
          credentials: "include", // *default, no-cache, reload, force-cache, only-if-cached
          headers: {
            Authorization: `Basic ${token}`,
            "Content-Type": "application/json",
          },
        })
          .then((response) => response.json())
          .then((data) => console.log(data))
          .catch((e) => console.log(e));
        // .then((response) => {
        //   console.log(response);
        //   // response.json();
        // })
        // .catch((e) => console.log(e));
        value();
      });
    </script>
  </body>
</html>
