<!DOCTYPE html>
<html>
  <head>
    <title>Page Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="css/custom.css">
  </head>
  <body>
    <!-- Page content goes here -->
    <input type="file" id="qr-input" accept="image/*" capture="environment">
    <script src="https://cdn.jsdelivr.net/npm/@webqr/webqr@latest/dist/webqr.min.js"></script>


    <script>
        // Initialize the QR code scanner
        const qrInput = document.getElementById("qr-input");
        const qrScanner = new WebQR();
        qrScanner.canvasElement = document.createElement("canvas");
      
        // Handle scanned QR code
        qrScanner.onDecode = function(result) {
          console.log(result);
          // Do something with the scanned QR code
        };
      
        // Start scanning when a file is selected
        qrInput.addEventListener("change", function() {
          const file = qrInput.files[0];
          qrScanner.decodeFromImage(file).catch(function(error) {
            console.error(error);
          });
        });
      </script>
      

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>
