<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <div id="result"></div>
    <button id="logout" class="btn btn-primary">Log out</button>
    <!-- Replace "test" with your own sandbox Business account app client ID -->
    <script>
      const result = document.getElementById("result");

      fetch("/api/profile", {
        method: "GET",
        mode: "cors", // no-cors, *cors, same-origin
        cache: "no-cache", // *default, no-cache, reload, force-cache, only-if-cached
        credentials: "same-origin", // include, *same-origin, omit
        headers: {
          "Content-Type": "application/json",
        },
      })
        .then((response) => response.json())
        .then((data) => {
          result.innerHTML = `<div>
            <p>${data._id}</p>
            <p>${data.name}</p>
            <p>${data.email}</p>
            <p>${data.balance}</p>
            </div>`;
        });
    </script>
    <script></script>
    <script>
      const logoutBtn = document.getElementById("logout");

      logoutBtn.addEventListener("click", () => {
        fetch("/api/logout", {
          method: "GET",
          mode: "cors", // no-cors, *cors, same-origin
          cache: "no-cache", // *default, no-cache, reload, force-cache, only-if-cached
          credentials: "same-origin", // include, *same-origin, omit
          headers: {
            "Content-Type": "application/json",
          },
        }).then(() => {
          window.location.reload(true);
          window.location.replace("/");
        });
      });
    </script>
    <pre></pre>
  </body>
</html>
